.moving-text {
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    animation: moving-text 10s linear infinite;
}

@keyframes moving-text {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}