/* ScreenShut.css */
@keyframes zoom-in-out {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
  }
  
  .animate-zoom-in-out {
    animation: zoom-in-out 4s forwards;
  }
  